<!DOCTYPE HTML>
{%- set km = ctx.knowledgeModel -%}
{%- set repliesMap = ctx.questionnaireReplies -%}
{%- set report = ctx.report -%}
{%- set dc = ctx|to_context_obj -%}
{% import "src/uuids.j2" as uuids with context %}
<html lang="en">
  <head>
    <title>Data Management Plan</title>
    <meta charset="utf-8">
    <style>
      {% include "src/style.css" %}
    </style>
  </head>
  <body>
      <h1>Test</h1>
    </article>
  </body>

</html>